@import "colors-main.scss";

.samlet-chat-login {
  width: 100%;

  .samlet-chat-login-text {
    text-align: right;
    margin-right: 16px;
    height: 38px;
    color: $gray-6;
    font-weight: bold;
    cursor: pointer;
    display: block;
  }
}

.samlet-chat-logged-container {
  width: 100%;
  text-align: left;
  margin-bottom: 16px;
  position: relative;
  height: 38px;

  .samlet-chat-profile-button {
    float: right;
    cursor: pointer;
    color: $gray-6;
    margin: 5px 12px;
    font-size: 13px;
  }

  .samlet-chat-logged-in-as {
    position: relative;

    .samlet-chat-name {
      color: $gray-8;
      border: none;
      font-weight: bold;
      position: absolute;
      top: 6px;
      left: 48px;
      cursor: pointer;
    }
  }
}
