@import "source-sans.scss";

.samlet-chat-root-min-height {
  min-height: 430px;
}

.samlet-chat-root {
  overflow-x: hidden;
  padding: 0px;
  width: 100%;
  font-family: inherit;

  * {
    font-family: inherit;
    font-size: 15px;
    line-height: 1.5;
    color: #50596c;
    text-rendering: optimizeLegibility;
  }

  @import "colors-main.scss";
  @import "samlet-chat-common.scss";
  @import "samlet-chat-logged.scss";     // Logged in as <name>
  @import "samlet-chat-mod-tools.scss";  // Moderator tools and buttons
  @import "samlet-chat-input.scss";      // Textarea, anonymous checkbox, submit button
  @import "samlet-chat-card.scss";       // Each comment card
  @import "samlet-chat-login.scss";      // Popup box when logging in
  @import "samlet-chat-footer.scss";     // Powered by Commento

  .samlet-chat-hidden {
    display: none;
  }

  .samlet-chat-blurred {
    opacity: 0.4;
  }

  .samlet-chat-main-area {
    transition: filter 0.2s;
  }

  .samlet-chat-error-box {
    width: 100%;
    border-radius: 4px;
    height: 32px;
    text-align: center;
    color: $red-7;
    font-weight: 700;
  }

  .samlet-chat-moderation-notice {
    width: 100%;
    border-radius: 4px;
    height: 32px;
    text-align: center;
    color: $orange-7;
    font-weight: 700;
    margin-top: 16px;
  }

  .samlet-chat-sort-policy-buttons-container {
    padding: 12px 0px;
    font-weight: 400;

    .samlet-chat-sort-policy-buttons {
      float: right;

      .samlet-chat-sort-policy-button {
        color: $gray-6;
        font-size: 13px;
        padding: 0px 7px;
      }

      .samlet-chat-sort-policy-button:hover {
        cursor: pointer;
      }

      .samlet-chat-sort-policy-button-selected {
        color: $blue-8;
        font-weight: bold;
      }
    }
  }
}

.samlet-chat-root-font {
  * {
    font-family: 'Source Sans Pro', sans-serif;
  }
}
