@import "colors-main.scss";

.samlet-chat-oauth-buttons-container {
  display: flex;
  justify-content: center;

  .samlet-chat-oauth-buttons {
    align-items: center;
    position: absolute;
    z-index: 1;
    display: contents;

    .samlet-chat-google-button {
      background: #dd4b39;
      text-transform: uppercase;
      font-size: 13px;
      width: 70px;
    }

    .samlet-chat-github-button {
      background: #000000;
      text-transform: uppercase;
      font-size: 13px;
      width: 70px;
    }

    .samlet-chat-twitter-button {
      background: #00aced;
      text-transform: uppercase;
      font-size: 13px;
      width: 70px;
    }

    .samlet-chat-gitlab-button {
      background: #fc6d26;
      text-transform: uppercase;
      font-size: 13px;
      width: 70px;
    }

    .samlet-chat-sso-button {
      background: #000000;
      text-transform: uppercase;
      font-size: 13px;
      width: 200px;
    }
  }
}
