@import "colors-main.scss";
@import "source-sans.scss";

html, input, button, textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  font-size: 14px;
  color: $text-primary;
  background: $bg-primary;
}

body {
  margin: 0px;
  background: $bg-primary;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.shadow {
  box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
}

.footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  margin-top: 72px;

  .copyright {
    align-items: none;
    color: $neutral-300;
    background: $bg-primary;
    text-align: center;
    padding: 12px;
    border-top: 1px solid $neutral-200;
  }

  .footer-inner {
    width: 100%;
    background: $bg-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $neutral-200;

    .links {
      display: flex;
      justify-content: center;
      width: 600px;
    }

    .link-group {
      margin: 40px;

      .header {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        color: $text-muted;
      }
    }

    .link {
      margin-top: 12px;
      margin-bottom: 12px;
      display: block;
      color: $text-secondary;
      transition: all 0.2s ease;
    }

    .link:hover {
      color: $primary;
    }

    @media only screen and (max-width: 1000px) {
      .link-group {
        display: block
      }

      .links {
        display: block;
        width: 90%;
      }
    }
  }
}
