@import "colors-main.scss";
@import "common-main.scss";

.samlet-chat-email-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 8px 0px;

  .samlet-chat-email {
    @extend .shadow;
    border-radius: 6px;
    background: $bg-primary;
    width: 100%;
    max-width: 400px;
    border: 1px solid $neutral-200;
    overflow: hidden;

    .samlet-chat-input {
      display: inline;
      height: 40px;
      background: transparent;
      border: none;
      outline: none;
      padding: 8px;
      padding-left: 12px;
      width: calc(100% - 150px);
      color: $text-primary;
      font-size: 14px;
    }

    .samlet-chat-input::placeholder {
      color: $text-muted;
    }

    .samlet-chat-email-button {
      height: 40px;
      min-width: 110px;
      float: right;
      background: $primary;
      color: $primary-text;
      border: none;
      outline: none;
      padding: 0px 16px;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s ease;
      width: unset;
      border-left: 1px solid $neutral-200;
    }

    .samlet-chat-email-button:hover {
      background: $primary-600;
    }

    .samlet-chat-email-button:disabled {
      cursor: default;
      background: $neutral-300;
      color: $text-muted;
    }
  }
}
