@import "colors-main.scss";

.navbar {
  position: absolute;
  top: 0px;
  display: flex;
  width: 100%;
  padding-top: 12px;
  margin-bottom: 12px;
  z-index: 5;
  background: $bg-primary;
  border-bottom: 1px solid $neutral-200;
}

.navbar-item {
  width: auto;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  color: $text-secondary;
  background: transparent;
  transition: color 0.2s ease;
}

.navbar-item:hover {
  color: $primary;
}

.navbar-logo-text {
  font-size: 16px;
  margin-left: 56px;
  color: $text-primary;
  font-weight: 600;
}

.navbar-logo {
  width: 32px;
  height: 32px;
  padding-right: 8px;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    display: block;
  }

  .navbar-item {
    display: none;
  }

  .navbar-logo-text {
    display: flex;
    margin-left: 16px;
  }

  .banner-container {
    width: calc(100% - 24px);
  }
}

.navbar-hamburger {
  color: $primary;
  transition: color 0.2s ease;
}

.navbar-hamburger:hover {
  color: $primary-600;
}
