@import "colors-main.scss";

.samlet-chat-mod-tools {
  margin-bottom: 16px;

  button {
    text-transform: uppercase;
    color: $text-primary;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 12px;
    background: none;
    border: none;
    display: inline;
    transition: color 0.2s ease;
  }

  button:hover {
    color: $primary;
  }
}

.samlet-chat-mod-tools::before {
  content: "Moderator Tools";
  text-transform: uppercase;
  color: $success;
  font-size: 12px;
  font-weight: 600;
}
