@import "colors-main.scss";

.samlet-chat-footer {
  margin: 36px 0px 12px 0px;
  padding-right: 12px;
  clear: both;

  .samlet-chat-logo-container {
    float: right;

    .samlet-chat-logo {
      border: none;
      width: auto;
      height: 32px;
      display: flex;
      align-items: center;
      padding: 5px;
      border-radius: 4px;
      transition: opacity 0.2s ease;
    }

    .samlet-chat-logo:hover {
      opacity: 0.8;
    }

    .samlet-chat-logo-text::before {
      content: "Powered by ";
      font-weight: 400;
    }

    .samlet-chat-logo-text {
      font-size: 13px;
      color: $text-secondary;
      display: inline;
      line-height: 24px;
      position: relative;
      font-weight: 500;
    }
  }
}
