@import "colors-main.scss";

.samlet-chat-login-box-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 0px;
  overflow: visible;

  .samlet-chat-login-box {
    width: 90%;
    max-width: 500px;
    min-height: 100px;
    background: $bg-primary;
    border: 1px solid $neutral-200;
    border-radius: 8px;
    z-index: 100;
    position: absolute;
    top: 8px;
    padding: 24px;
    opacity: 1;
    transition: opacity 0.2s;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

    @import "samlet-chat-oauth.scss";

    hr {
      border: none;
      background: $neutral-200;
      height: 1px;
      margin: 24px 0px;
    }

    .samlet-chat-login-box-subtitle {
      color: $text-secondary;
      text-align: center;
      margin: 12px 0px;
      font-size: 15px;
    }

    @import "email-main.scss";

    .samlet-chat-forgot-link-container,
    .samlet-chat-login-link-container {
      margin: 16px;
      width: calc(100% - 32px);
      text-align: center;
    }

    .samlet-chat-forgot-link,
    .samlet-chat-login-link {
      font-size: 14px;
      font-weight: bold;
      border-bottom: none;
      color: $primary;
    }

    .samlet-chat-forgot-link {
      font-size: 13px;
      color: $text-secondary;
      font-weight: normal;
    }

    .samlet-chat-forgot-link:hover,
    .samlet-chat-login-link:hover {
      color: $primary-600;
    }

    .samlet-chat-login-box-close {
      position: absolute;
      right: 16px;
      top: 16px;
      width: 16px;
      height: 16px;
      opacity: 0.4;
      transition: opacity 0.2s;
    }

    .samlet-chat-login-box-close:hover {
      opacity: 1;
      cursor: pointer;
    }

    .samlet-chat-login-box-close:before, .samlet-chat-login-box-close:after {
      position: absolute;
      left: 7px;
      content: ' ';
      height: 17px;
      width: 2px;
      background-color: $text-primary;
    }

    .samlet-chat-login-box-close:before {
      transform: rotate(45deg);
    }

    .samlet-chat-login-box-close:after {
      transform: rotate(-45deg);
    }
  }
}
