@import "checkbox.scss";
@import "button.scss";

.unsubscribe-container {
  margin-top: 72px;
  display: flex;
  justify-content: center;

  .unsubscribe {
    max-width: 600px;
    width: 100%;

    .loading {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
    }

    .err {
      color: $destructive;
      text-align: center;
      font-weight: 600;
    }

    .msg {
      color: $success;
      font-weight: 600;
      margin-bottom: 12px;
      height: 20px;
    }

    .checkboxes {
      .email {
        margin-bottom: 32px;
        font-size: 21px;
        font-weight: bold;
      }
      
      .email::before {
        content: "Changing email notifications for ";
        font-weight: normal;
      }

      .row {
        margin-bottom: 24px;
      }
    }
  }
}
